html, body {
    height: 100%;
}

body {
    /*background-color: #f1edee;*/
    background: none repeat scroll 0 0 #EDF7F8;
    font: 12px Verdana, Arial, Helvetica, sans-serif;
}

* {
    margin: 0 auto;
}

a {
    border: 0;
}

img {
    border: 0;
}

.noto-sans-georgian {
    font-family: "Noto Sans Georgian";
    font-weight: 600;
    font-size: 32px;
    line-height: 43.52px;
    color: #355C61;
    font-variation-settings: "wdth"80;
}

div.demo-warning-hehe {
    background: crimson;
    color: white;
    padding: 0.4rem;
    font-size: 0.9rem;
    line-height: initial;
    text-align: center;
}

div.header-top {
    max-width: 980px;
}

div.header-top a {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

div.header-top img {
    padding: 0;
    margin: 0 0 0.25rem 0;
    height: 70px;
    width: 70px;
}

div.header-top p, div.footer p {
    font-family: "Noto Sans Georgian";
    font-weight: 600;
    font-size: 0.75rem;
    margin: 0 0 0 1rem;
    color: #3B3A3A;
    font-variation-settings: "wdth"70;
    width: 300px;
}

div.header {
    background-color: #E5ECED;
    text-align: center;
    padding: 1.25rem 0 0.75rem 0;
    height: 55px;
}

div.action-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-wrap: wrap;
}

div.action-button img {
    padding: 0;
    margin: 0 2.5rem 0 0.5rem;
}

div.action-button p, div.action-button div {
    font-family: "Noto Sans Georgian";
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
    text-align: left;
    width: 200px;
    color: #FFF;
    font-variation-settings: "wdth"70;
}

div.action-button div p:nth-child(2) {
    font-size: 0.75rem;
}

div.footer {
    background-color: #E5ECED;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.footer-inner {
    max-width: 980px;
    display: flex;
    justify-content: space-between;
}

div.footer-inner a {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    text-decoration: none;
}

div.footer-inner a:first-of-type {
    justify-content: flex-start;
    width: 200px;
}

div.footer-inner a:last-of-type {
    justify-content: flex-end;
    width: 400px;
}

div.footer-inner div {
    height: 100%;
    margin-left: 0.75rem;
    border-right: 1px solid #3B3A3A;
}

div.footer img {
    padding: 0;
    margin: 0 0 0.25rem 0;
    height: 50px;
    width: 50px;
}

div.footer p:last-of-type {
    width: 200px;
}

table.mainTable {
    width: 100%;
    height: 100%;
}

.btn {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

a.index-button-size {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 430px;
    height: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

a.index-button-size img {
    margin-top: 10px;
}

a.btn-registration-custom {
    background-color: #2156AB;
}

a.btn-verify-custom {
    background-color: #2e753e;
}

a.btn-cacnel-custom {
    background-color: #E95E63;
}

a.btn-limit-custom {
    background-color: #F6980B;
}

div.formContainer {}

div.formContainerStep {}

div.headerInfo {
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    color: #5a5655;
    display: block;
    font: 16px Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 5px;
    margin: 5px;
    text-align: left;
}

div.messageInfo {
    background: none repeat scroll 0 0 #f1edee;
    border: 1px solid #fcb713;
    line-height: 20px;
    margin: 5px;
}

div.messageInfo ul {
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 40px;
}

div.messageAlert {
    background: none repeat scroll 0 0 #f1edee;
    border: 1px solid #8cc63e;
    line-height: 20px;
    margin: 5px;
}

div.messageAlert ul {
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 40px;
}

ul.stepsErrorMsg {
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 20px;
    list-style-type: none;
}

div.st3InfoList {
    background: none repeat scroll 0 0 #f1edee;
    margin: 20px;
    padding: 10px;
    padding-left: 20%;
    font-size: 14px;
}

div.st3InfoList span {
    font-weight: 700;
}

fieldset.LegengDiv {
    border: 1px solid #fcb713;
    width: 450px;
}

form.mainForm {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    min-height: 428px;
    height: auto !important;
    height: 428px;
}

div.step-buttons {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    clear: both;
    color: #5a5655;
    display: block;
    height: 40px;
    left: 0;
    margin: 3px 0 0;
    overflow: auto;
    padding: 0;
    position: relative;
    text-align: left;
}

div.wizard {
    width: 980px;
}

button.btn-disabled {
    background-color: #cccccc !important;
    border: 1px solid #cccccc !important;
    color: #f8f8f8 !important;
    cursor: text;
}

button.btn-action {
    background-color: #5a5655;
    border: 1px solid #5a5655;
    color: #fff;
    display: block;
    float: right;
    font: bold 13px Verdana, Arial, Helvetica, sans-serif;
    margin: 5px 3px 0;
    outline-style: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

ul.anchor {
    background: none repeat scroll 0 0 transparent;
    border: 0 solid #cccccc;
    clear: both;
    display: block;
    float: left;
    list-style: outside none none;
    margin: 2px 0;
    padding: 0;
    position: relative;
}

ul.anchor a.selected {
    background: none repeat scroll 0 0 #fcb713;
    border: 1px solid #fcb713;
    box-shadow: 5px 5px 8px #888;
    color: #f8f8f8;
    cursor: text;
}

ul.anchor a.done {
    background: none repeat scroll 0 0 #4464af;
    border: 1px solid #4464af;
    color: #fff;
}

ul.anchor li a.disabled {
    background: none repeat scroll 0 0 #f8f8f8;
    border: 1px solid #ccc;
    color: #cccccc;
    cursor: text;
}

ul.anchor li {
    border: 0 solid #e0e0e0;
    display: block;
    float: left;
    margin: 0;
    padding: 0 3px;
    position: relative;
}

ul.anchor li a {
    display: block;
    float: left;
    height: 60px;
    margin: 0;
    outline-style: none;
    padding: 3px;
    position: relative;
    text-decoration: none;
    width: 230px;
}

ul.anchor li a .stepNumber {
    float: left;
    font: bold 45px Verdana, Arial, Helvetica, sans-serif;
    padding: 0 5px 5px;
    position: relative;
    text-align: center;
    width: 30px;
}

ul.anchor li a .stepNumber {
    float: left;
    font: bold 45px Verdana, Arial, Helvetica, sans-serif;
    padding: 0 5px 5px;
    position: relative;
    text-align: center;
    width: 30px;
}

div.steps {
    height: 75px;
}

table.info {
    padding-top: 15px;
    padding-left: 10px;
    font-size: 14px;
    width: 900px;
}

table.info td.level1 {
    width: 50%;
}

ul.anchor li a .stepDesc1 {
    display: block;
    font: bold 14px Verdana, Arial, Helvetica, sans-serif;
    padding: 5px;
    text-align: left;
}

ul.anchor li a .stepDesc2 {
    display: block;
    font: bold 14px Verdana, Arial, Helvetica, sans-serif;
    padding: 2px;
    text-align: left;
}

table.fieldsetTable {
    width: 400px;
}

div.bbDisabled {
    display: none;
}

div.bbEnabled {
    display: none;
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('./images/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
}

.hideElement {
    display: none;
}

.showElement {
    display: inherit;
}

.criticalError {
    color: red;
    font-weight: bold;
}

/*login*/
form.login_form {
    background-color: #f8f8f8;
    font-family: DejaVu Sans;
    width: 300px;
    border-radius: 10px;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 8px #888;
}

div.login-input-label {
    margin-top: 20px;
}

div.login-input-field input {
    border-radius: 5px;
    width: 286px;
    padding: 5px;
}

div.login-btn {
    margin-top: 10px;
    text-align: center;
}

div.login-btn button {
    padding: 5px 10px;
    font-size: 14px;
}

div.login-title {
    font-size: 17px;
}

#divReg1RelFieldset {
    display: none;
}

.loadingMini {
    background-color: #f8f8f8;
    width: 16px;
    height: 16px;
    text-align: center;
    background-image: url('./../images/miniloading.gif');
    background-position: center;
    background-repeat: no-repeat;
}

#loadingFree {
    background-color: #f8f8f8;
    width: 16px;
    height: 16px;
    text-align: center;
    background-image: url('./../images/miniloading.gif');
    background-position: center;
    background-repeat: no-repeat;
}

.result {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    margin: 3px 0 0;
    display: flex;
    padding: 1rem;
    display: none;
}

.result-time {
    font-size: 2rem;
    font-weight: bold;
    color: dodgerblue;
    margin: auto;
}